// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.no_padding {
  padding: 0;
}

.no_margin {
  margin: 0;
}

.title {
  font-size: 0.9em !important;
}

.sidenav_sm {
  height: calc(100vh);
}

.sidenav_gt_sm {
  height: calc(100vh - 64px);
}

.google_map_container_sm {
  height: calc(100vh - 72px);
}

.google_map_container_gt_sm {
  height: calc(100vh - 80px);
}

.groups_selector .groups_selector_button {
  min-width: 42px;
}

.route_info {
  font-size: 0.7em;
  text-align: right;
}
