<!doctype html>
<html ng-app="transantiagoScannerApp">
  <head>
    <meta charset="utf-8">
    <title>Transantiago Scanner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menú" ng-click="toggleSidenav()">
          <md-icon md-svg-icon="/bower_components/material-design-icons/navigation/svg/production/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2 class="title">
          <div>Transantiago</div>
          <div>Scanner</div>
        </h2>
        <span flex></span>
        <div class="route_info" ng-if="selectedBusRoute">
          <div>{{selectedBusRoute}}</div>
          <div>{{selectedBusRouteDirectionFrom}}</div>
          <div>{{selectedBusRouteDirectionTo}}</div>
        </div>
      </div>
    </md-toolbar>

    <section layout="vertical" >
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex="25" flex-xs="80" flex-sm="35" ng-class="{'sidenav_gt_sm': $mdMedia('gt-sm'), 'sidenav_sm': ! $mdMedia('gt-sm')}">
        <md-grid-list class="groups_selector" md-cols="7" md-row-height="1:1" md-gutter="0px">
          <md-grid-tile ng-repeat="group in ::groups" ng-style="{'background-color': group.color, 'color': group.textColor}">
            <md-button class="groups_selector_button" ng-click="setGroup(group)">{{ ::group.name }}</md-button>
          </md-grid-tile>
        </md-grid-list>
        <md-content ng-controller="SidenavCtrl">
          <md-list class="no_padding">
            <md-list-item ng-repeat="busRoute in busRoutes[selectedGroup]">
              <p style="margin: 10px">{{ ::busRoute }}</p>
              <md-button class="md-fab md-mini" aria-label="Ida" ng-click="setBusRoute(busRoute, 0)">
                <md-icon md-svg-src="/bower_components/material-design-icons/navigation/svg/production/ic_arrow_drop_up_24px.svg"></md-icon>
              </md-button>
              <md-button class="md-fab md-mini md-primary" aria-label="Regreso" ng-click="setBusRoute(busRoute, 1)">
                <md-icon md-svg-src="/bower_components/material-design-icons/navigation/svg/production/ic_arrow_drop_down_24px.svg"></md-icon>
              </md-button>
              <!--md-button class="md-fab md-mini md-warn" aria-label="Favorito" ng-click="setBusRouteFavorite(busRoute)">
                <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_favorite_24px.svg"></md-icon>
              </md-button-->
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
      <md-content class="no_padding" layout-padding flex>
        <div id="google_map_container" ng-class="{'google_map_container_gt_sm': $mdMedia('gt-sm'), 'google_map_container_sm': ! $mdMedia('gt-sm')}"></div>
      </md-content>
    </section>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-38832354-2');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-animate/angular-animate.js'></script>
    <script src='bower_components/angular-cookies/angular-cookies.js'></script>
    <script src='bower_components/angular-resource/angular-resource.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
    <script src='bower_components/angular-aria/angular-aria.js'></script>
    <script src='bower_components/angular-messages/angular-messages.js'></script>
    <script src='bower_components/angular-material/angular-material.js'></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.js'></script>
    <script src='bower_components/lodash/lodash.js'></script>
    <script src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
    <script src='bower_components/sprintf/src/sprintf.js'></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/sidenav.js"></script>
    <!-- endbuild -->

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
</body>
</html>
