<!doctype html>
<html ng-app="transantiagoScannerApp">
  <head>
    <meta charset="utf-8">
    <title>Transantiago Scanner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!--md-button class="md-icon-button" aria-label="Menú" ng-click="toggleSidenav()">
          <md-icon md-svg-icon="images/svg/ic_menu_24px.svg"></md-icon>
        </md-button-->
        <span flex></span>
        <div class="route_info" ng-if="selectedStop">
          <div>{{selectedStop.code}}</div>
          <div>{{selectedStop.name}}</div>
        </div>
        <div>
          <md-button class="md-fab md-mini md-accent md-raised" aria-label="Resetear" ng-if="selectedStop" ng-click="reset()">
            <md-icon md-svg-src="images/svg/ic_settings_backup_restore_white_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-accent md-raised" aria-label="Regreso" ng-click="getCurrentPosition()">
            <md-icon md-svg-src="images/svg/ic_gps_fixed_white_24px.svg"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <section layout="vertical">
      <md-content class="no_padding" layout-padding flex>
        <div id="map_container" ng-class="{'map_container_gt_sm': $mdMedia('gt-sm'), 'map_container_sm': ! $mdMedia('gt-sm')}"></div>
      </md-content>
    </section>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-38832354-2');
       ga('send', 'pageview');
    </script>

    <!--script src='//maps.googleapis.com/maps/api/js?sensor=false'></script-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/sprintf/src/sprintf.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <!-- endbower -->
    <!--script src="scripts/leaflet-google.js"></script-->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/configs/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/startswith.js"></script>
    <script src="scripts/services/mapsutils.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/sidenav.js"></script>
    <script src="scripts/directives/map.js"></script>
    <!-- endbuild -->
</body>
</html>
